.pageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #FAFAFA;
}

.contentContainer {
  position: relative;
  z-index: 2;
}

.ornament {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.orbTopRight {
  top: -150px;
  right: -100px;
  width: 650px;
  height: 650px;
  background: radial-gradient(circle, rgba(28, 126, 186, 0.12) 0%, rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
}

.dotsLeft {
  top: 18%;
  left: 20px;
  opacity: 0.8;
}

.shapeRightMiddle {
  top: 38%;
  right: 0;
}

.shapeBottomRight {
  bottom: -60px;
  right: -60px;
}

@media (max-width: 992px) {
  .orbTopRight {
    width: 450px;
    height: 450px;
    top: -80px;
    right: -80px;
    background: radial-gradient(circle, rgba(28, 126, 186, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
  }
  
  .shapeRightMiddle {
    opacity: 0.5;
    transform: scale(0.8) translateX(20px);
  }
}

@media (max-width: 576px) {
  .orbTopRight {
    opacity: 0.7;
    width: 350px;
    height: 350px;
  }
  
  .dotsLeft {
    left: 10px;
    width: 80px;
    opacity: 0.6;
  }
  
  .shapeBottomRight {
    width: 200px;
    height: 200px;
    bottom: -30px;
    right: -30px;
    opacity: 0.8;
  }
  
  .shapeRightMiddle {
    display: none;
  }
}