.pageWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.topSpacer {
  width: 100%;
  height: 30px;
  background: transparent;
}

.bottomSpacer {
  width: 100%;
  height: 50px;
  background: transparent;
}

@media (max-width: 768px) {
  .topSpacer {
    height: 30px;
  }

  .bottomSpacer {
    height: 60px;
  }
}