/* components/Section/SectionTemplate.module.css */

.section {
  width: 100%;
  padding: 80px 10px 10px;
  background-color: inherit;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.container.fullWidth {
  max-width: 100%;
  padding: 0;
}

@media (max-width: 992px) {
  .section {
    padding: 60px 0px 0px;
  }
  
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0px 0px;
  }
  
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 40px 0px 0px;
  }
}

@media (max-width: 360px) {
  .section {
    padding: 40px 15px;
  }
  
  .container {
    padding: 0 15px;
  }
}