.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  transition: all 0.3s ease;
}

.blogCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: transparent;
  border-radius: 0;
  overflow: hidden;
  border: none;
  transition: transform 0.3s ease;
}

.cardLink:hover .blogCard {
  transform: translateY(-5px);
}

.cardImageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  /* Perubahan Rasio menjadi 4:3 */
  aspect-ratio: 4 / 3; 
  border-radius: 8px;
  transform: translateZ(0);
}

.cardImageContainer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #FEC909;
  z-index: 2;
  pointer-events: none;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.cardLink:hover .cardImage {
  transform: scale(1.05);
}

.cardContent {
  padding: 12px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0;
  color: #023E8A;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: calc(1.4 * 16px * 2); 
  transition: color 0.3s ease;
}

.cardLink:hover .cardTitle {
  color: #1C7EBA;
}

.cardDate {
  font-size: 12px;
  color: #595959;
  margin: 8px 0 0 0;
  font-weight: 400;
}

@media (max-width: 992px) {
  .cardTitle {
    font-size: 15px;
    min-height: calc(1.4 * 15px * 2);
  }
  
  .cardDate {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .cardContent {
    padding: 10px 0;
  }
  
  .cardTitle {
    font-size: 14px;
    min-height: calc(1.4 * 14px * 2);
  }
  
  .cardImageContainer::after {
      width: 4px;
  }
}

@media (max-width: 480px) {
  .cardDate {
    margin-top: 6px;
  }
}